# Können wir wohl Fußball spielen?

**Die Daten: Grundlage für das Lernen**

Die Klassen 6b und 6d treffen sich oft am Mittwoch-Nachmittag, um gegeneinander Fußball zu spielen. Doch nicht jeden Mittwoch sehen wir sie auf dem Platz. Offenbar hängt das irgendwie mit dem Wetter zusammen.

Wir vermuten, dass die Entscheidung, ein Spiel zu starten, mit der Temperatur und der Luftfeuchtigkeit (verursacht von Regen, Nebel, ...) zusammenhängt.

Deshalb haben wir diese Daten an den letzten Mittwoch-Nachmittagen beobachtet und in einer Tabelle festgehalten.

In Zukunft möchte man anhand von Temperatur und Luftfeutigkeit voraussagen, ob man ein Fußballspiel sehen kann.

## Die Daten

<div class="alert alert-block alert-success">

Uns liegt ein Datensatz für die letzten 14 Wochen vor. Die jeweiligen Temperaturen und die werte für die Luftfeuchtigkeit sind in der Tabelle eingetragen. Daneben wurde jeweils vermerkt, ob ein Fußballspiel stattgefunden hat. 
   
Diese Daten benutzen wir, um das System zu **trainieren**, damit es später voraussagen kann, ob es zu einem Spiel kommt.

<div class="alert alert-block alert-warning">
    
### *Aufgabe:*
    
Öffne die Datei [spielen.csv](Daten/spielen.csv) in dem Unterordner Daten mit einem Texteditor. Analysiere und beschreibe den Aufbau der Datei.

## Das System bekommt die Daten

<div class="alert alert-block alert-success">

Die Daten aus der csv-Datei müssen in dieses System eingelesen werden, damit sie von Python-Befehlen bearbeitet werden können.
    
Man benötigt dazu Hilfsmittel. Das sind sog. **Funktionen**, die in einer **Bibliothek** enthalten sind. Diese Bibliothek muss man zuvor laden

### Jetzt werden die Daten eingelesen.

<div class="alert alert-block alert-info">    
   
    
**Führe dazu die folgende Zelle aus!**
    
Die Bibliothek mit dem Namen `pandas`wird dann geladen und kann anschließend unter dem Namen `pd`benutzt werden.

<div class="alert alert-block alert-success">
    
**Hintergrundwissen:**
`pandas` ist eine Programmbibliothek für die Programmiersprache Python, die Hilfsmittel für die Verwaltung von Daten und deren Analyse anbietet. Insbesondere enthält sie Datenstrukturen und Operatoren für den Zugriff auf numerische Tabellen und Zeitreihen. 
    
**Und jetzt bitte die folgende Zelle ausführen!**

In [1]:
# Bibliothek pandas importieren
import pandas as pd

# Textausgabe
print("Gut gemacht!")

Gut gemacht!

<div class="alert alert-block alert-success">
    
Jetzt endlich können die Daten aus der Datei `spielen.csv` eingelesen werden.
    
- In der Datei `spielen.csv` sind die Datensätze zeilenweise aufgeführt.
- Die Einträge in den Spalten sind jeweils durch ein Semikolon (";") getrennt.
    
**Und jetzt bitte die folgende Zelle ausführen!** 
- Die Daten werden dann eingelesen und (zur Sicherheit) ausgegeben.

In [2]:
df_fussball = pd.read_csv("Daten/spielen.csv", sep=";")

display(df_fussball)

    Temperatur  Luftfeuchtigkeit Spielen
0           28                87    nein
1           26                90    nein
2           27                78      ja
3           28                70      ja
4           22                80      ja
5           21                70      ja
6           23                65      ja
7           24                95      ja
8           23                70      ja
9           25                82    nein
10          25                70      ja
11          26                82    nein
12          28                85    nein
13          24                80      ja

#### Wie kann ich den Datensatz sortieren?

In [3]:
# sortiere die Datensätze nach einer Spalte (aufsteigend) und zeige dann alle an
sortTemp = df_fussball.sort_values(by="Temperatur")
display(sortTemp)

    Temperatur  Luftfeuchtigkeit Spielen
5           21                70      ja
4           22                80      ja
6           23                65      ja
8           23                70      ja
7           24                95      ja
13          24                80      ja
9           25                82    nein
10          25                70      ja
1           26                90    nein
11          26                82    nein
2           27                78      ja
0           28                87    nein
3           28                70      ja
12          28                85    nein

<div class="alert alert-block alert-warning">
    
##### *Aufgabe:*
    
Was beobachtest Du?

<div class="alert alert-block alert-info">
    
Schreibe jetzt hier Deine Beobachtung hin.
    
</div>

<div class="alert alert-block alert-warning">
    
##### *Aufgabe:*
    
Sortiere die Datensätze nach der **Luftfeuchtigkeit** und lasse Dir alle Datensätze ausgeben.

In [4]:
sortFeucht = df_fussball.sort_values(by="Luftfeuchtigkeit")
display(sortFeucht)

    Temperatur  Luftfeuchtigkeit Spielen
6           23                65      ja
3           28                70      ja
5           21                70      ja
8           23                70      ja
10          25                70      ja
2           27                78      ja
4           22                80      ja
13          24                80      ja
9           25                82    nein
11          26                82    nein
12          28                85    nein
0           28                87    nein
1           26                90    nein
7           24                95      ja

In [5]:
# Bitte füge Deine Lösung als Quelltext hier ein, bevor du dir die Lösung anzeigen lässt.

<div class="alert alert-block alert-info">
    
Schreibe jetzt hier Deine Beobachtung hin.
    
</div>

<div class="alert alert-block alert-warning">
    
##### *Aufgabe:*
    
Sortiere die Datensätze auch bezüglich der Zielvariable `Spielen` und lasse Dir alle Datensätze ausgeben. Beobachte dann.

In [6]:
sortSpiel = df_fussball.sort_values(by="Spielen")
display(sortSpiel)

    Temperatur  Luftfeuchtigkeit Spielen
2           27                78      ja
3           28                70      ja
4           22                80      ja
5           21                70      ja
6           23                65      ja
7           24                95      ja
8           23                70      ja
10          25                70      ja
13          24                80      ja
0           28                87    nein
1           26                90    nein
9           25                82    nein
11          26                82    nein
12          28                85    nein

In [7]:
# Bitte füge Deine Lösung als Quelltext hier ein, bevor du dir die Lösung anzeigen lässt.

<div class="alert alert-block alert-info">
    
Schreibe jetzt hier Deine Beobachtung hin.
    
</div>